/* Tooltip.css */

.tooltip-wrapper {
  position: relative;
}

.tooltip-trigger {
  display: inline-block;
  cursor: pointer;
}

.tooltip {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(0, 183, 255);
  color: #fff;
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 14px;
  line-height: 1.4;
  white-space: nowrap;
  z-index: 999;
  opacity: 0.9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #fff;
  transition: transform 0.1s ease-out; /* Added transition for smoother movement */
}

.body-no-cursor {
  cursor: none; 
}
 
.tooltip::before {
  content: "";
  position: absolute;
  top: -8px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent rgb(0, 0, 0) transparent;
}
